<mat-toolbar>
    <span>
        <a routerLink="/">
            <span>Főoldal</span>
        </a>
    </span>

    <span>
        <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/posts">
            <span>Postok</span>
        </a>

        <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login">
            <span>Belépés</span>
        </a>

        <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login">
            <span>Kilépés</span>
        </a>

        <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup">
            <span>Regisztráció</span>
        </a>
    </span>
</mat-toolbar>
