<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">

<div class="card">
   <div class="card-details">
      <div class="name">Pető Ádám</div>
      <div class="occupation">Mérnökinformatikus</div>
      
      <div class="card-about">
         <div class="item">
            <span class="value">S0KK3C</span>
            <span class="label">Neptunkód</span>
         </div>
         <div class="item">
            <span class="value">Webtechnológiák 2</span>
            <span class="label">Tárgy</span>
         </div>
      </div>
   </div>
</div>
