<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Pl.: adam@example.com" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input
        matInput
        type="password"
        placeholder="Pl.: ***"
        formControlName="password"
      />
    </mat-form-field>
    <button
      [disabled]="!loginForm.valid"
      mat-raised-button
      type="submit"
    >
      <span>Belépés</span>
    </button>
  </form>