@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
mat-form-field,
button {
  width: 100%;
  font-family: 'Macondo', cursive;
}
button {
  margin-bottom: 2em;
  background-color: black;
  color: white;
}